@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

nav ul {
    padding-left: 35%;
    display: flex;
    padding-bottom: 1%;
    flex-direction: row;
    gap: 7%;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;

}

nav ul li {
    flex: auto;
    font-size: 18px;
    font-weight: 400;
    
}

nav ul li a {
    color: #091f2f;

}


nav ul li a:visited {
    color: #f29a00;
}



nav ul li a:hover {
    color: #f29a00;
}
nav ul li a:active {
    color: #f29a00;
}

.banner_1 {
    position: relative;
}

.banner_1 img {
    max-width: 100%;
}

.heading div {
    font-weight: 700;
}

.heading {
    position: absolute;
    top: 31.5%;
    left: 16.5%;
    color: white;
    font-size: clamp(24px, 5vw, 48px);
    max-width: 55%;
    line-height: 1.14;

}

.heading button {
    font-size: clamp(7px, 4vw, 15px);
    padding: 2.1% 5.3%;
    margin: 6.2% 0;

}

.till {
    margin-top: 3%;
    padding: 1% 3%;
    font-size: large;
    text-transform: uppercase;
    color: #11273f;
    border: none;
    background-color: #f29a00;
    font-weight: 500;

}

#banner {
    position: relative;
}

#banner .owl-dots {
    position: absolute;
    bottom: 8.3%;
    width: 100%;
}

.active span {
    outline: 2px solid white;
    outline-offset: 4px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 5px;
    height: 5px;
}

.owl-theme .owl-dots .owl-dot {
    margin: 4px;
}

.nav {
    max-width: 1170px;
    margin: 2% auto 1.8% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   

}

.logo {
    flex: 30%;
    max-width: 250px;
    /* cursor: pointer; */
}

nav {
    flex: 34%;
}

.banner {
    max-width: 1170px;
    margin: 0 auto;
}

.section_1 {
    max-width: 1170px;
    margin: 5% auto 5.3% auto;
    display: flex;
    gap: 7.38%;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left {

    flex: 1;
    max-width: 47.5%;
    position: relative;
}

.plybtn {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 39.169%;
}

.playbutton {
    padding-left: 2.84%;
    width: 75px;
    height: 75px;
    position: relative;
}

.circle {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    border: solid 3px white;

}

.triangle {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right: 0;
    border-left: 20px solid white;
    position: absolute;
    top: 24px;
    left: 47px;
}
.nmsg,.smsg,.emsg,.pmsg,.mmsg{
    
    color: red;
    font-size: 14px;
    display: none;
    padding-left: 1%;
}
.smsg,.pmsg{
    padding-left: 26%;
}

.right {
    flex: 1;
    display: flex;
    padding-top: 1.4%;
    flex-direction: column;
    gap: 10%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.right div {
    font-size: 30px;
    font-weight: 700;
}

.right p {
    flex: 1;
    margin-top: 4%;
    line-height: 2;
    font-size: 16px;
    word-spacing: -0.7px;
    line-height: 1.69;
    font-weight: 400;
    color: #2e2f30;
}

.div button {
    margin-top: 6.7%;
    padding: 2.2% 6.8%;
    font-size: large;
    text-transform: uppercase;
    color: #2e2f30;
    border: none;
    background-color: #f29a00;
    font-weight: 500;
    font-size: 15px;
}



.rh {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.section_2 {
    max-width: 1170px;
    margin: 2.1% auto;
    overflow: hidden;

}

#gallery .owl-dots .active span {
    outline: 2px solid #11273f;
    outline-offset: 4px;
}

.section_2 .owl-theme .owl-dots .owl-dot span {
    width: 5px;
    height: 5px;
}

#gallery .owl-dots {
    margin-top: 3.9%;
}

#gallery .owl-dots .owl-dot {
    margin: 4px;

}

.section_2 .owl-theme .owl-dots .owl-dot.active span,
.section_2 .owl-theme .owl-dots .owl-dot span {
    background: #11273f;
}

.section_3 {
    margin-top: 5.5%;
    padding: 4% 0 3.5% 0;
    background-color: #e8e8e8;
}

.forms {
    margin-top: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1105px;
    margin: 0 auto 1% auto;

}

.up,
.down {

    display: flex;
    gap: 1.3%;
    flex-direction: row;
    margin-bottom: 1.5%;
}

.rh1 {
    margin: 0.15% 0 2.1% 0;
}


#first_name,
#email {

    flex: 1;
    border: none;
    padding: 2.1%;
    font-weight: 300;
    font-size: 15px;
    color: #11273f;
    outline: none;
}

#last_name,
#phone {
    flex: 1;
    border: none;
    padding: 2.1%;
    font-weight: 300;
    font-size: 15px;
    color: #11273f;
    outline: none;
}

.comments {
    display: flex;
    margin-top: -0.6%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#comments {
    margin: 1.03% 0;
    flex: 100%;
    width: 100%;
    border: none;
    padding: 2.3%;
    font-size: 15px;
    color: #11273f;
    resize: none;
    font-weight: 300;
    outline: none;
}

#send {
    margin: 0 auto;
    padding: 1.2% 5.3%;
    margin-top:0.8% ;
    margin-bottom: 0.8%;
    border: none;
    background-color: #f29a00;
    font-weight: 500;
    font-size: 15px;
    color: #11273f;
    font-weight: 500;
    display: inline-block;
}
.btttn{
    display: flex;
    align-items: center;
    justify-content: center;
}
#send:hover {
    cursor: pointer;
    background-color: rgb(255, 196, 0);
    transition: 0.3s linear;
}

.fq {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin: 4% 0 2.2% 0;
}

.faq {
    max-width: 750px;
    margin: 0 auto 5.85% auto;
}

.plus {
    position: relative;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.line2 {
    position: absolute;
    background-color: #797979;
    width: 1.4px;
    height: 10px;
    left: 4.4px;
}

.line1 {
    position: absolute;
    background-color: #797979;
    width: 10px;
    height: 1px;
    top: 4.7px;

}

.aqb {
    color: #757575;
    padding: 0.4% 2.2% 3.3% 2.2%;
    line-height: 1.45;

}


.aqh {
    flex: 1;
    font-size: 18px;
    font-weight: 700;
    padding: 2.2%;
    transition: 0.3s linear;
}

.set:hover {
    background-color: #75757525;
}

.ahed {
    padding: 3.5% 2.2% 0.7% 2.2%;
}


.set {
    background-color: #f2f2f2;
    margin-bottom: 2%;
}

.add_que {
    display: inline;
    position: absolute;
    top: 1px;
    /* right:3px; */
}

.footslides {
    background-color: #e8e8e8;

}

.rotate-90 {
    transform: rotate(45deg);
}

.plus {
    font-weight: 300;
    float: right;
    font-size: 18px;
    margin: -40px 20px 0 0;
    color: #797979;
    transition: 0.3s linear;

}

#footslide {
    max-width: 1100px;
    padding: 4% 0;
    margin: 0 auto;
    margin-bottom: -0.5%;


}

#footslide .item img {
    max-width: 228px;
}

@media (max-width:1072px) {
    body{
        margin: 1%;
    }
    .section_1 {
        flex: 100%;
        margin: 1%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left img,
    .right {
        width: 100%;
        align-self: center;
    }

    .section_2,
    .forms,
    .faq {
        margin: 1%;
    }
    .container{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .arrow{
        display: none;
    }
}

.rt180 {
    transform: rotate(180deg);
}
button:hover{
    cursor: pointer;
    background-color: rgb(255, 196, 0);
    transition: 0.3s linear;
}
.arrow {
    width: 100%;
    padding: 3px;
    transition: 0.3s linear;
}

#footslide .owl-dots.disabled,
#footslide .owl-nav.disabled {
    display: inline;
    position: relative;
}

.aleft {
    position: absolute;
    width: 25px;
    top: -175%;
    left: -170%;
}

.aleft:hover,
.aright:hover {
    background: white;
    border-radius: 5px;
}
.aright {
    width: 25px;
    position: absolute;
    top: -200%;
    left: 5560%;
}

#footslide .owl-nav .disabled {
    position: absolute;
    top: 28%;
    right: 0px
}

footer {
    text-align: center;
    padding: 3.4%;
    letter-spacing: 0.5px;
    color: #8d9aa8;
    background: #102439;
    font-size: 16px;
}